[submodule "third_party/NeurCross"]
	path = third_party/NeurCross
	url = git@github.com:akashskypatel/NeurCross.git
[submodule "third_party/pyquadwild"]
	path = third_party/pyquadwild
	url = git@github.com:akashskypatel/pyquadwild.git
